.col-lg-3
.col-lg-6.my-panel
  = simple_form_for(resource, as: resource_name,
                                  url: registration_path(resource_name),
                                  html: {class: 'form-horizontal' },
                                  wrapper: :horizontal_form) do |f|
    %fieldset
      %legend Sign up
      - error_message! f.error_notification
      = f.input :name, autofocus: true, required: true,
                       label: 'User name', placeholder: 'Austin Powers'
      = f.input :email, required: true, label: 'Email', placeholder: 'Email'
      = f.input :password, required: true, label: 'Password',
                           placeholder: 'Password'
      = f.input :password_confirmation, required: true,
                                        placeholder: 'Confirm your password'
      .form-group
        .col-lg-10.col-lg-offset-3.actions
          %a{ href: root_path }
            %button.btn.btn-default{type: 'reset'} Cancel
          %button.btn.btn-default{type: 'reset'} Clear
          = f.button :submit, 'Sign up', id: 'sign_up_submit'
.col-lg-3
