%table{ 'aria-labelledby': table_title }
  %thead
    %tr
      - collection_presenter.attribute_types.each do |attr_name, attr_type|
        %th{ class: "cell-label cell-label--#{ attr_type.html_class } cell-label--#{ collection_presenter.ordered_html_class(attr_name) }" }
          = attr_name.to_s.titleize
  %tbody
    - resources.each do |resource|
      %tr.js-table-row{ tabindex: 0 }
        - collection_presenter.attributes_for(resource).each do |attribute|
          %td{ class: "cell-data cell-data--#{attribute.html_class}" }
            = render_field attribute