%li.list-group-item.flex
  = image_tag(course.photo.url, size: '100x100', id:'image_show', class: 'list-inline')
  .list-item-body
    %h4.list-group-item-heading
      = course.title
    %p.list-group-item-text
      = "Price: #{course.price}$"
    - if for_form
      = radio_button('order', "#{course_type}_id", course.id)