= provide :title, 'Log in'

.col-lg-3
.col-lg-6.my-panel
  = simple_form_for(resource, as: resource_name,
                              url: session_path(resource_name),
                              html: {class: 'form-horizontal' },
                              wrapper: :horizontal_form) do |f|
    %fieldset
      %legend Log in
      = f.input :email, autofocus: true, required: true,
                        label: 'Email', placeholder: 'Email'

      = f.input :password, required: true, label: 'Password',
                           placeholder: 'Password'

      - if devise_mapping.rememberable?
        = f.input :remember_me, as: :boolean, label: 'Remember me',
                                wrapper: :horizontal_boolean

      .form-group
        .col-lg-9.col-lg-offset-3
          %a{ href: root_path }
            %button.btn.btn-default{type: 'reset'} Cancel
          = f.button :submit, 'Log in', id: 'sign_in_submit'
      %legend
      .form-group
        %label.col-lg-4.control-label No account yet?
        = link_to 'Create account', new_user_registration_path,
                                    class: 'btn btn-default'
.col-lg-3